<div class="ps-md-4 pe-md-3 px-2 py-3 page-body">
    <div class="card border-0 bg-transparent">
      
        <div class="card-header mb-4 border-bottom px-0">
            
          
        </div>
        <div class="card-body p-0">
            <p style="text-align: right;">
                <button class="btn btn-secondary">Search</button>
                <input type="text" class="form-control" style="display: inline-block; width: auto; margin-left: 5px;" />
               
            </p>
            
            <div class="row g-xl-4 g-3 mb-4">
                <div class="col-12">
                    <div class="table-container" style="max-height: 500px; overflow-y: auto;">
                        <table class="table dataTable table-hover mb-0 w-100">
                            <thead class="thead-fixed">
                                <tr>
                                    <th style="text-align: center;">Key</th>
                                    <th style="text-align: center;">Type</th>
                                    <th style="text-align: center;">Value</th>
                                    <th style="text-align: center;"><i class="fa fa-check-square-o"></i></th>
                                    <th style="text-align: center;"><i class="fa fa-database"></i></th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="sorting_1">Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Sonya Frost</td>
                                    <td>Software Engineer</td>
                                    <td>Edinburgh</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Jena Gaines</td>
                                    <td>Office Manager</td>
                                    <td>London</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Quinn Flynn</td>
                                    <td>Support Lead</td>
                                    <td>Edinburgh</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Charde Marshall</td>
                                    <td>Regional Director</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Haley Kennedy</td>
                                    <td>Senior Marketing Designer</td>
                                    <td>London</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Tatyana Fitzpatrick</td>
                                    <td>Regional Director</td>
                                    <td>London</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Irene Silva</td>
                                    <td>Marketing Designer</td>
                                    <td>London</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Paul Byrd</td>
                                    <td>Chief Financial Officer (CFO)</td>
                                    <td>New York</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Gloria Little</td>
                                    <td>Systems Administrator</td>
                                    <td>New York</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Bradley Greer</td>
                                    <td>Software Engineer</td>
                                    <td>London</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Dai Rios</td>
                                    <td>Personnel Lead</td>
                                    <td>Edinburgh</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Jenette Caldwell</td>
                                    <td>Development Lead</td>
                                    <td>New York</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Yuri Berry</td>
                                    <td>Chief Marketing Officer (CMO)</td>
                                    <td>New York</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Caesar Vance</td>
                                    <td>Pre-Sales Support</td>
                                    <td>New York</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Doris Wilder</td>
                                    <td>Sales Assistant</td>
                                    <td>Sydney</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Angelica Ramos</td>
                                    <td>Chief Executive Officer (CEO)</td>
                                    <td>London</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Gavin Joyce</td>
                                    <td>Developer</td>
                                    <td>Edinburgh</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Jennifer Chang</td>
                                    <td>Regional Director</td>
                                    <td>Singapore</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Brenden Wagner</td>
                                    <td>Software Engineer</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Fiona Green</td>
                                    <td>Chief Operating Officer (COO)</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Shou Itou</td>
                                    <td>Regional Marketing</td>
                                    <td>Tokyo</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Michelle House</td>
                                    <td>Integration Specialist</td>
                                    <td>Sydney</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Suki Burks</td>
                                    <td>Developer</td>
                                    <td>London</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Prescott Bartlett</td>
                                    <td>Technical Author</td>
                                    <td>London</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Gavin Cortez</td>
                                    <td>Team Leader</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Martena Mccray</td>
                                    <td>Post-Sales support</td>
                                    <td>Edinburgh</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Unity Butler</td>
                                    <td>Marketing Designer</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Howard Hatfield</td>
                                    <td>Office Manager</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Finn Camacho</td>
                                    <td>Support Engineer</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Serge Baldwin</td>
                                    <td>Data Coordinator</td>
                                    <td>Singapore</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Lael Greer</td>
                                    <td>Systems Administrator</td>
                                    <td>London</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Jonas Alexander</td>
                                    <td>Developer</td>
                                    <td>San Francisco</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>Donna Snider</td>
                                    <td>Customer Support</td>
                                    <td>New York</td>
                                    <td class="text-center"><i class="fa fa-edit"></i></td>
                                    <td class="text-center"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer px-0 mt-4">
            <div class="btn-group d-flex">
              
                <p class="btn btn-lg text-end">
                    <input type="file" />
                   <button class="btn btn-primary"> <i class="fa fa-plus-circle"></i>  Import</button>
                </p>
             
            </div>
            
        </div>
    </div>
</div>
