.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu li {
    margin: 0;
}


.menu .btn {
    width: 100%;
    padding: 5px; /* Reduce padding to make buttons small */
    text-align: left;
    font-size: 0.8rem; /* Adjust font size to make buttons small */
}
.wrapper {
    border: 2px solid #3498db; /* Set your desired border color here */
    padding: 10px;
    max-width: 300px; /* Adjust the width as needed */
    margin: auto; /* Center the div */
}
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}